# Spotify Library Manager - example environment file

# App
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
HOST=0.0.0.0
PORT=5000
AUTH_SECRET_KEY=change-me-in-production

# Paths
# Directory on the host containing your Spotify music library output
MUSIC_DIR=/mnt/some_external_nas/music_spotify
# Directory on the host to persist app configs & db
SLM_CONFIG_DIR=/opt/configs/spotify_library_manager/

# Album selection configuration
# Comma-separated lists
# ALBUM_TYPES_TO_DOWNLOAD=single,album,compilation
# ALBUM_GROUPS_TO_IGNORE=appears_on
